<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Betty Bot</title>
    <link rel="stylesheet" href="/application.css" type="text/css" media="screen" />
  </head>
  <body>
    <div id="content">
      <% unless @messages.nil? %>
        <ul id="conversation">
          <% @messages.each do |message| %>
            <li<%= ' id="latest"' if message == @messages.last %> class="message<%= ' mirror' if message.author != 'Betty' %>">
                <img src="/<%= message.author == 'Betty' ? 'bot' : 'human' %>.png" width="48" height="48" alt="" />
                <p>
                  <strong><%= message.author %>:</strong> <%= message.text %><br /><small>[<%= message.time %>]</small>
                </p>
              </li>
          <% end %>
        </ul>
      <% end %>
      <form action="/" method="post">
        <input type="text" name="message" autofocus="autofocus" />
        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
