<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/application.css" type="text/css" />
    <link rel="stylesheet" href="/shadowbox/shadowbox.css" type="text/css" />

    <title>Betty Bot</title>
  </head>
  <body>
    <div id="content">
      <% unless @messages.nil? %>
        <ul id="conversation">
          <% @messages.each do |message| %>
            <li<%=message_attributes message, @messages %>>
              <%= author_avatar message %>
              <p>
                <strong><%= message.author %>:</strong>
                <%= message.text.gsub(/((https?:\/\/|www\.)([-\w\.]+)+(:\d+)?(\/([\w\/_\.]*(\?\S+)?)?)?)/, '<a href="\1">\1</a>').gsub("\n", '<br />') %><br />
                <%= media_from message %>
                <small><%= message.time.localtime.strftime("%Y-%m-%d %H:%M") %></small>
              </p>
            </li>
          <% end %>
        </ul>
      <% end %>

      <form id="chat" action="/" method="post" autocomplete="off">
        <input type="text" name="message" autofocus="autofocus" />
        <input type="submit" value="Send" />
      </form>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/shadowbox/shadowbox.js"></script>
    <script type="text/javascript" src="/application.js"></script>
  </body>
</html>
