<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="/bootstrap.css">
    <link rel="stylesheet" href="/application.css" type="text/css" />
    <link rel="stylesheet" href="/shadowbox/shadowbox.css" type="text/css" />

    <title>Betty Bot</title>
  </head>
  <body>
    <div id="content">
      <div id="conversation">
      <% unless @messages.nil? %>
        <ul>
          <% @messages.each do |message| %>
            <li<%=message_attributes message, @messages %>>
              <%= author_avatar message %>
              <p>
                <strong><%= message.author %>:</strong>
                <%=h message.text.gsub(/((http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:\/~\+#]*[\w\-\@?^=%&amp;\/~\+#])?)/, '<a href="\1">\1</a>').gsub("\n", '<br />') %><br />
                <%= media_from message %>
                <small><%= message.time.localtime.strftime("%Y-%m-%d %H:%M") %></small>
              </p>
            </li>
          <% end %>
        </ul>
      <% end %>
      </div>
      <form id="chat" action="/" method="post" autocomplete="off">
        <input type="text" name="message" autofocus="autofocus" />
        <input class="primary btn" type="submit" value="Send" />
      </form>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/shadowbox/shadowbox.js"></script>
    <script type="text/javascript" src="/application.js"></script>
  </body>
</html>
