<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="/bootstrap.css">
    <link rel="stylesheet" href="/application.css" type="text/css" />
    <link rel="stylesheet" href="/shadowbox/shadowbox.css" type="text/css" />

    <title>Betty Bot</title>
  </head>
  <body>
    <div id="content">
      <div id="conversation">
      <% unless @messages.nil? %>
        <ul>
          <% @messages.each do |message| %>
            <li<%=message_attributes message, @messages %>>
              <%= author_avatar message %>
              <p>
                <strong><%= message.author %>:</strong>
                <% if message.author != 'Betty' %>
                  <%= h(message.text).gsub(/((http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:\/~\+#]*[\w\-\@?^=%&amp;\/~\+#])?)/, '<a href="\1">\1</a>').gsub("\n", '<br />') %><br />
                <% else %>
                  <%= message.text.gsub(/((http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:\/~\+#]*[\w\-\@?^=%&amp;\/~\+#])?)/, '<a href="\1">\1</a>').gsub("\n", '<br />') %><br />
                <% end %>
                <%= media_from message %>
                <small><%= message.time.localtime.strftime("%Y-%m-%d %H:%M") %></small>
              </p>
            </li>
          <% end %>
        </ul>
      <% end %>
      </div>
      <form id="chat" action="/" method="post" autocomplete="off">
        <input type="text" name="message" autofocus="autofocus" />
        <input class="primary btn" type="submit" value="Send" />
      </form>
    </div>

    <div id="information">
      <p><strong>Hello,</strong></p>
      <p>Betty Bot is the lovechild of <a href="http://twitter.com/svendahlstrand">@svendahlstrand</a> and <a href="http://twitter.com/fredrikwallgren">@fredrikwallgren</a> born on <a href="http://24hrhack.se">#24hrhack</a>.</p>
      <p>Betty is a friendly bot that helps with everyday activities like switching on the lights or tell todays lunch alternatives.</p>
      <p>Start by saying hello to Betty! Write "list abilities" to get a list of everything Betty can do for you.</p>
    </div>
    <a href="http://github.com/wallstrand/bettybot"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/bec6c51521dcc8148146135149fe06a9cc737577/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/shadowbox/shadowbox.js"></script>
    <script type="text/javascript" src="/application.js"></script>
  </body>
</html>
